<div class="grid-x grid-padding-x">
  <div class="cell large-9 medium-12">
    <%= link_to t(".new_group_button_label") , new_group_path, class: "button hide-for-large" %>

    <table class="hover stack">
      <thead>
        <tr>
          <th><%= t(".name_header") %></th>
        </tr>
      </thead>

      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= link_to group.name, group %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="cell large-3 medium-12 show-for-large">
    <%= link_to t(".new_group_button_label"), new_group_path, class: "button expanded" %>
  </div>
</div>
