<div class="grid-x grid-margin-x">
  <div class="large-9 medium-12 cell">
    <%= link_to "New User", new_user_path, class: "button hide-for-large" %>

    <table class="hover stack">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= link_to "New User", new_user_path, class: "button expanded" %>
  </div>
</div>
