<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="small-12 cell hide-on-large">
      <h2>Authenticate</h2>
      <%= render partial: "sessions/authentication_form" %>
    </div>

    <div class="small-12 medium-8 cell">
      <h3>What is Scoutinv?</h3>
      <p>Scoutinv is a tool designed to enable a scouts group to better work together. Each scout group has their own workspace.</p>

      <h3>Why?</h3>
      <h4>Managing your inventory</h4>
      <h4>Preventing two units from renting the same product at the same time</h4>
      <h4>Improve communication</h4>

      <h3>Registering</h3>
      <p>To register for this service, please fill out this form. All fields are required.</p>
      <%= render partial: "registration_form" %>
    </div>

    <div class="small-12 medium-4 cell show-for-large">
      <h2>Authenticate</h2>
      <%= render partial: "sessions/authentication_form" %>
    </div>
  </div>
</div>
