@media print {
  #responsive-menu, footer .button {
    display: none;
  }
}

body {
  background: #94e5ff;
  background:-webkit-linear-gradient(top, #94e5ff, #dbe7eb);
  background:   -moz-linear-gradient(top, #94e5ff, #dbe7eb);
  background:    -ms-linear-gradient(top, #94e5ff, #dbe7eb);
  background:     -o-linear-gradient(top, #94e5ff, #dbe7eb);
  background:        linear-gradient(to bottom, #94e5ff, #dbe7eb);
}

.product-busy-self * {
}

.product-busy-other * {
  color: rgba(0%, 0%, 0%, 0.33);
}

.product-busy-many * {
  color: white;
  background-color: #f73b61;
}

.product-available * {
}

.product-location {
  white-space: nowrap;
}

.product-list .product-image {
  height: 100px;
  max-width: 133px;
}

.bill-of-materials .product-image {
  height: 250px;
  max-width: 333px;
}

.post-signup-message {
  margin-left: 1rem;
}

.signature {
  margin-top: -1rem;
}

footer {
  padding-top: 5rem;
}

footer p {
  font-size: 80%;
  line-height: 1.4;
}
