@media print {
  #responsive-menu, footer .button {
    display: none;
  }
}

.product-busy-self * {
}

.product-busy-other * {
  color: rgba(0%, 0%, 0%, 0.33);
}

.product-busy-many * {
  color: white;
  background-color: #f73b61;
}

.product-available * {
}

.product-location {
  white-space: nowrap;
}

.product-list .product-image {
  height: 100px;
  max-width: 133px;
}

.bill-of-materials .product-image {
  height: 250px;
  max-width: 333px;
}

.post-signup-message {
  margin-left: 1rem;
}

.signature {
  margin-top: -1rem;
}

footer {
  padding-top: 5rem;
}

footer p {
  font-size: 80%;
  line-height: 80%;
}
