@media print {
  #responsive-menu, footer .button {
    display: none;
  }
}

body {
  background: #94e5ff;
  background:-webkit-linear-gradient(top, #94e5ff, #dbe7eb);
  background:   -moz-linear-gradient(top, #94e5ff, #dbe7eb);
  background:    -ms-linear-gradient(top, #94e5ff, #dbe7eb);
  background:     -o-linear-gradient(top, #94e5ff, #dbe7eb);
  background:        linear-gradient(to bottom, #94e5ff, #dbe7eb);

  min-height: 60rem;
}

body.staging {
  background: #ffe594;
  background:-webkit-linear-gradient(top, #ffe594, #dbe7eb);
  background:   -moz-linear-gradient(top, #ffe594, #dbe7eb);
  background:    -ms-linear-gradient(top, #ffe594, #dbe7eb);
  background:     -o-linear-gradient(top, #ffe594, #dbe7eb);
  background:        linear-gradient(to bottom, #ffe594, #dbe7eb);
}

body.development {
  background: #e5ff94;
  background:-webkit-linear-gradient(top, #e5ff94, #dbe7eb);
  background:   -moz-linear-gradient(top, #e5ff94, #dbe7eb);
  background:    -ms-linear-gradient(top, #e5ff94, #dbe7eb);
  background:     -o-linear-gradient(top, #e5ff94, #dbe7eb);
  background:        linear-gradient(to bottom, #e5ff94, #dbe7eb);
}

.product-busy-self * {
}

.product-busy-other * {
  color: rgba(0%, 0%, 0%, 0.33);
}

.product-busy-many * {
  color: white;
  background-color: #f73b61;
}

.product-available * {
}

.product-location {
  white-space: nowrap;
}

.product-list .product-image {
  height: 100px;
  max-width: 133px;
}

.bill-of-materials .product-image {
  height: 250px;
  max-width: 333px;
}

.post-signup-message {
  margin-left: 1rem;
}

.signature {
  margin-top: -1rem;
}

footer {
  padding-top: 5rem;
}

footer p {
  font-size: 80%;
  line-height: 1.4;
}

.double-booked-icon {
  background: red;
  color: white;
  text-align: center;
  width: 20%
}

.product-image {
  opacity: 1.0;
}

.connecting {
  opacity: 0.3333;
  transition: opacity .25s linear;
}

.product td {
  vertical-align: top;
}

.instance-available td {
  background-color: #98ebcf;
}

.instance-held td {
  background-color: #55b4d4;
}

.instance-repairing td {
  background-color: #b1d5e0;
}

.instance-trashed td {
  background-color: #f2727f;
}

.entity .entity-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entity .pricing {
  white-space: nowrap;
}

@media screen and (max-width: 39.9375em) {
  .entity .pricing {
    white-space: normal;
  }
}

.entity .quantity {
  display: inline;
  text-align: right;
  width: 66%;
}

.entity .entity-description {
  height: 3rem;
  max-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
