<p>
Scoutinv est un logiciel libre disponible sous une license GPLv2, conçu et programmé par <%= mail_to "francois@teksol.info", "François Beausoleil" %>.
Retrouvez Scoutinv sur <%= link_to "GitLab", "https://gitlab.com/francoisb/scoutinv" %>.
</p>
<p>&copy; 2018<%= Date.today.year > 2018 ? " - #{Date.today.year}" : nil %> François Beausoleil. Tous droits réservés.</p>

