<p>
Scoutinv is a libre software released under the GPLv2 license, built by <%= mail_to "francois@teksol.info", "François Beausoleil" %>.
Find Scoutinv on <%= link_to "GitLab", "https://gitlab.com/francoisb/scoutinv" %>.
</p>
<p>&copy; 2018<%= Date.today.year > 2018 ? " - #{Date.today.year}" : nil %> François Beausoleil. All rights reserved.</p>
