<div class="grid-x grid-margin-x">
  <div class="large-9 medium-12 cell">
    <%= link_to "New Member", new_member_path, class: "button hide-for-large" %>

    <table class="hover stack">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td><%= link_to member.name, member %></td>
            <td><%= member.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= link_to "New Member", new_member_path, class: "button expanded" %>
  </div>
</div>
